<a href="https://colab.research.google.com/github/Maheshwar405/Maheshwar-Reddy_INFO5731_Fall2023/blob/main/Boyalla_Maheshwar_Reddy_Exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (08/30/2023, 40 points in total)**
This exercise is due tomorrow 08/31/203 11:59 PM.

(1) Write a Python program to calculate the area of a rectangle using user-input length and width.

In [1]:
length = int(input())
width = int(input())
area_of_a_rectangle = length * width
print(area_of_a_rectangle)

5
6
30

(2) Create a program that takes two numbers from the user and swaps their values without using a temporary variable.

In [2]:
num1 = int(input())
num2 = int(input())
print("Before swaping :",num1, num2)
num1, num2 = num2, num1
print("After swaping :",num1, num2)

5
6
Before swaping : 5 6
After swaping : 6 5

(3) Write a Python program to calculate the length of a string.

In [3]:
String = input()
print("Length of a string is :",len(String))

mahesh
Length of a string is : 6

(4) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘,

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [4]:
String = input()
dict1 = dict()
for i in String:
    if i not in dict1:
        dict1[i] = 0
    dict1[i] += 1
print(dict1)

google.com
{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(5) Write a Python program to sum all the items in a list.

In [5]:
list_items = [1,2,3,4,5]
print("Sum of all the items in a list is :",sum(list_items))

Sum of all the items in a list is : 15

(6) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself.

Sample String : 'restart‘,

Expected Result : 'resta\$t'

In [6]:
sample_string = input("Enter a string: ")
first_char = sample_string[0]
modified_string = first_char + sample_string[1:].replace(first_char, '$')
print("Modified Result:", modified_string)

Enter a string: restart
Modified Result: resta$t

(7) Create a program that calculates the factorial of a number using a while loop.

In [7]:
num = int(input())
factorial_number = 1
while num > 1:
    factorial_number *= num
    num -= 1
print(factorial_number)

5
120

(8) Create a program that takes a list of numbers as input and outputs a new list with only the even numbers.

In [8]:
list_numbers = list(map(int,input().split()))
even_list = []
for i in list_numbers:
    if i % 2 == 0:
        even_list.append(i)
print("list of even numbers in a given list are :",even_list)

1 4 6 3 7 8 5 9 8
list of even numbers in a given list are : [4, 6, 8, 8]

(9) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where

$\ S=3.14*(1+a/b)^3$

In [9]:
a = int(input())
b = int(input())
S  = 3.14*(1+a/b)**3
print(S)

1
2
10.5975

(10) Write a Python program to concatenate following dictionaries to create a new one.

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60},

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [10]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic = dict()
dic.update(dic1)
dic.update(dic2)
dic.update(dic3)
print(dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(11) Write a Python function that accepts a tuple of integers and returns the largest and smallest elements.

In [11]:
tup = tuple(map(int,input().split()))
print("Largest element in a tuple is :",max(tup))
print("Smallest element in a tuple is :",min(tup))

1 5 6 3 8 9 34 45 50
Largest element in a tuple is : 50
Smallest element in a tuple is : 1

(12) Write a Python program that counts the frequency of each character in a given string and stores it in a dictionary.

In [12]:
String = input()
dict1 = dict()
for i in String:
    if i not in dict1:
        dict1[i] = 0
        dict1[i] += 1
    else:
        dict1[i] += 1
print(dict1)

maheshwarreddyboyalla
{'m': 1, 'a': 4, 'h': 2, 'e': 2, 's': 1, 'w': 1, 'r': 2, 'd': 2, 'y': 2, 'b': 1, 'o': 1, 'l': 2}

(13) Write a Python program to check whether an element exists within a tuple.

In [13]:
tup = tuple(map(int,input().split()))
element = int(input())
if element in tup:
    print("Element exists in the tuple")
else:
    print("Element doesn't exist in the tuple")

1 5 6 8 3 5 6 9
5
Element exists in the tuple

(14) Write a Python program to find maximum and the minimum value in a set.

In [14]:
set_elements = {1,3,5,6,8,3,9,4,5,5,5}
print("Maximum value in the given set is :",max(set_elements))
print("Minimum value in the given set is :",min(set_elements))

Maximum value in the given set is : 9
Minimum value in the given set is : 1

(15) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list:
student_list_fall_2023=['sb1826' ,
 'lb0582' ,
 'ab1820' ,
 'sb1883' ,
 'mb1296' ,
 'sc1622' ,
 'tc0469' ,
 'ac1770' ,
 'mc1453' ,
 'ad1187' ,
 'sd0926' ,
 'sd1268' ,
 'ag1609' ,
 'sg1638' ,
 'mg1299' ,
 'vkk0022' ,
 'bk0413' ,
 'gk0257' ,
 'am2807' ,
 'gm0558' ,
 'pm0658' ,
 'am2346' ,
 'rm1090' ,
 'sm2364' ,
 'sm2747' ,
 'sm2343' ,
 'vm0597' ,
 'htn0086' ,
 'sp2075' ,
 'gp0306' ,
 'lp0502' ,
 'sr1508' ,
 'vr0331' ,
 'yr0180' ,
 'as2819' ,
 'ss2981' ,
 'ns0756' ,
 'mt0825' ,
 'dt0463' ,
 'su0137' ,
 'dv0310'
]

In [51]:
import random
def students_groups(student_list, min_group_size, max_group_size):
    random.shuffle(student_list)
    groups = []
    current_group = []
    for student in student_list:
        current_group.append(student)
        if len(current_group) >= min_group_size and (len(current_group) == max_group_size or student == student_list[-1]):
            groups.append(current_group)
            current_group = []
    return groups
student_list_fall_2023 = ['sb1826', 'lb0582', 'ab1820', 'sb1883', 'mb1296', 'sc1622', 'tc0469', 'ac1770', 'mc1453', 'ad1187', 'sd0926', 'sd1268', 'ag1609', 'sg1638', 'mg1299', 'vkk0022', 'bk0413', 'gk0257', 'am2807', 'gm0558', 'pm0658', 'am2346', 'rm1090', 'sm2364', 'sm2747', 'sm2343', 'vm0597', 'htn0086', 'sp2075', 'gp0306', 'lp0502', 'sr1508', 'vr0331', 'yr0180', 'as2819', 'ss2981', 'ns0756', 'mt0825', 'dt0463', 'su0137', 'dv0310']
min_size = 4
max_size = 6
groups = students_groups(student_list_fall_2023, min_size, max_size)
for i, group in enumerate(groups, start=1):
    print(f"Group {i}: {', '.join(group)}")

Group 1: am2807, ad1187, ab1820, sb1883, ss2981, mc1453
Group 2: yr0180, vkk0022, mg1299, sp2075, vm0597, gk0257
Group 3: sg1638, ag1609, sm2364, as2819, sb1826, ac1770
Group 4: rm1090, vr0331, sd1268, pm0658, sd0926, sm2343
Group 5: sm2747, htn0086, sc1622, bk0413, sr1508, mb1296
Group 6: dv0310, gp0306, su0137, ns0756, lp0502, gm0558
Group 7: mt0825, tc0469, lb0582, am2346, dt0463

(16) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements.

In [16]:
def duplicate_elements(array):
    list1 = []
    for i in array:
        if(array.count(i) > 1) and (i not in list1):
            list1.append(i)
    if list1 == []:
        return -1
    return list1
array = list(map(int,input().split()))
print("Duplicate elements in the given array are : ",duplicate_elements(array))

1 4 7 23 8 9 45 7 3 5 8 4 6 5
Duplicate elements in the given array are :  [4, 7, 8, 5]

(17) Write a Python program to select all the Sundays of a specified year.

In [21]:
import datetime
def sundays_in_year(year):
    sundays = []
    date = datetime.date(year, 1, 1)
    while date.year == year:
        if date.weekday() == 6:
            sundays.append(date.strftime('%Y-%m-%d'))
        date += datetime.timedelta(days=1)
    return sundays
year = int(input("Enter a year: "))
sundays = sundays_in_year(year)
print(f"All Sundays in {year}:")
for sunday in sundays:
    print(sunday)

Enter a year: 2021
All Sundays in 2021:
2021-01-03
2021-01-10
2021-01-17
2021-01-24
2021-01-31
2021-02-07
2021-02-14
2021-02-21
2021-02-28
2021-03-07
2021-03-14
2021-03-21
2021-03-28
2021-04-04
2021-04-11
2021-04-18
2021-04-25
2021-05-02
2021-05-09
2021-05-16
2021-05-23
2021-05-30
2021-06-06
2021-06-13
2021-06-20
2021-06-27
2021-07-04
2021-07-11
2021-07-18
2021-07-25
2021-08-01
2021-08-08
2021-08-15
2021-08-22
2021-08-29
2021-09-05
2021-09-12
2021-09-19
2021-09-26
2021-10-03
2021-10-10
2021-10-17
2021-10-24
2021-10-31
2021-11-07
2021-11-14
2021-11-21
2021-11-28
2021-12-05
2021-12-12
2021-12-19
2021-12-26

(18) Build a program that calculates the factorial of a given positive integer. The factorial of a non-negative integer n is the product of all positive integers less than or equal to n.

In [18]:
def factorial(number):
    fact = 1
    for i in range(number):
        fact *= number
        number -= 1
    return fact
print("Factorial of a given number is :", factorial(abs(int(input("Enter the number to find the factorial :")))))

Enter the number to find the factorial :5
Factorial of a given number is : 120

(19) Write a program that takes a positive integer n as input and prints the count of even numbers from 1 to n. Use a loop to iterate through the numbers and utilize the break statement to optimize the loop.

In [19]:
def even_numbers(n):
    count = 0
    for num in range(1, n + 1):
        if num % 2 == 0:
            count += 1
        elif num > n:  # Optimization using the break statement
            break
    return count
number = abs(int(input()))
print(even_numbers(number))

54
27

(20) Write a Python function called count_vowels that takes a string as input and returns the count of vowels (both lowercase and uppercase) present in the string. Consider the vowels to be 'a', 'e', 'i', 'o', and 'u'. Ignore spaces and other non-alphabetic characters.

In [20]:
def count_vowels(string):
    vowels = ["a","e","i","o","u"]
    count = 0
    for i in string:
        if i in vowels:
            count += 1
    return count
print(count_vowels(input("Enter string to find the count of vowels :").lower()))

Enter string to find the count of vowels :MaHEshWArReddY
4